<div class="contentFull">

  <div class="eventTop">
    <div class="eventImgWrapper">
      <%= image_tag "/pictures/e/" + @event.small_image.file_name %>
    </div>
    <h1><%= @event.name %></h1>

    <p>
      <%= @event.description %>
    </p>

    <div class="endDate">
      <b>End date: </b><%= @event.end_at %>
      <br/>
      <%= link_to "Link to site", "#1" %>
    </div>
    <div class="sizeFilter">
      Select your size:
      <%= select_tag("size_filter", options_from_collection_for_select(@event.sizes, "id", "name")) %>
    </div>
    <div class="cleaner"></div>
  </div>
</div>

<div class="productsWrapper">
  <% @event.products_for_page.each { |product| %>


      <div class="productPlaceholder">
        <div class="productImageWrapper">
          <%= link_to({:controller => :main, :action => :product, :id => product}, :class => "productImage") do %>
              <%= image_tag "/pictures/sm/" + product.images.first.file_name %>
          <% end %>
        </div>
        <div class="slideWrapper">
          <div class="productInfo">
            <%= product.name %>
            <br/>
            <%= product.color.name %>
          </div>
        </div>
      </div>

  <% } %>
  <div class="cleaner"></div>
</div>