<%= cache @top_category do %>
    <%
       @events = @latest_event.top_category.events.current.all
       @upcoming_events = @latest_event.top_category.events.upcoming.all
       @past_events = @latest_event.top_category.events.past.all
    %>
    <div class="eventBig">
      <%= link_to (image_tag "/pictures/e_b/" + @latest_event.big_image.file_name, :class => "eventBigImg", :alt => @latest_event.name), {:controller => :main, :action => :event, :id => @latest_event} %>
      <% products_for_page = @latest_event.products_for_page %>
      <div class="slideWrapper">
        <div class="rotatorWrapper">
          <button class="prev input-newmember"><<</button>
          <button class="next input-member">>></button>
          <div class="eventProducts">
            <ul>
              <% products_for_page.each { |product| %>
                  <li><%= link_to(image_tag("/pictures/s/" + product.images.first.file_name, :alt => product.name), {:controller => :main, :action => :product, :id => product}) %></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="eventEnd">
      Event Ends <%= event_date(@latest_event.end_at) %>
    </div>
    <% vis_el = products_for_page.count
       vis_el = 9 if vis_el > 9
    %>
    <script type="text/javascript">
        var vis_el = <%=  vis_el %>;
    </script>

    <% if @events.size > 0 %>
        <h1 class="eventStatus">New Events</h1>
        <%= render :partial => "main/events_partial", :locals => {:events => @events} %>
    <% end %>

    <% if @upcoming_events.size > 0 %>
        <div class="space"></div>
        <h1 class="eventStatus">Upcoming Events</h1>
        <%= render :partial => "main/events_partial", :locals => {:events => @upcoming_events} %>
    <% end %>

    <% if @past_events.size > 0 %>
        <div class="space"></div>
        <h1 class="eventStatus">Past Events</h1>
        <%= render :partial => "main/events_partial", :locals => {:events => @past_events} %>
    <% end %>

<% end %>