<script type="text/javascript">
    <% if @current_user %>
    var logged_in = true;
    <% else %>
    var logged_in = false;
    <% end %>
</script>
<div class="contentFull">
  <div class="productPath">
    <%= link_to @event.name, {:controller => :main, :action => :event, :id => @event} %>
    <span class="eventEnd">Event Ends <%= event_date(@event.end_at) %></span>
  </div>

  <div class="altWrapper">
    <ul>
      <% @product.images.each { |image| %>
          <li class="altImgWrapper">
            <div class="tableCell">
              <%= image_tag "/pictures/s/" +image.file_name, :alt => "" %>
            </div>
          </li>
      <% } %>
    </ul>
  </div>

  <div class="mainImgWrapper">
    <%= image_tag "/pictures/m/" + @product.images.first.file_name %>
  </div>

  <div class="dataWrapper">
    <h1 class="productName" id="product_<%= @product.id %>"><%= @product.name %></h1>

    <div class="productDesc">
      <%= @product.description %>
    </div>

    <div class="propertiesWrapper">
      <% @product.properties.each { |property| %>
          <div class="propertyRow">
            <span class="propertyName"><%= property.name %></span><%= ": " + property.value unless property.value.blank? %>
          </div>
      <% } %>
    </div>

    <% if @product.has_size? %>
        <div class="propertiesWrapper">
          <span class="propertyName" style="margin-left: 12px;">Size: </span>
          <select id="product_size">
            <option value="-1">All sizes</option>
            <% @product.sizes.each { |size| %>
                <option value="<%= size.id %>"<%= ' disabled="disabled"' unless @product.available_sizes.include?(size) %>><%= size.name %></option>
            <% } %>
          </select>
        </div>
    <% else %>
        <%= hidden_field_tag("product_size", Size.find_by_name("-no size-").id) %>
    <% end %>

    <% if @product.has_color? %>
        <div class="propertiesWrapper">
          <span class="propertyName" style="margin-left: 4px;">Color: </span>
          <span class="propertyName" style="color: #000000; text-transform: capitalize;" id="color_name"><%= @product.color.name %></span>

          <div>
            <% @product.colors.each { |color| %>
                <div style="background-color:<%= color.html_val %>;color:<%= color.html_val %>;" class="propertyColor<%= " selected" if @product.color == color %>" id="product_color_<%= color.id %>" colorName="<%= color.name %>">__</div>
            <% } %>
          </div>
        </div>
    <% else
         color = Color.find_by_name("-no color-")
    %>
        <div style="display: none;" class="propertyColor selected" id="product_color_<%= color.id %>" colorName="<%= color.name %>"></div>
    <% end %>

    <div class="propertiesWrapper">
      <%= hidden_field_tag "last_clicked" %>
      <span class="oldPrice"><%= number_to_currency @product.old_price %></span>
      <span class="price"><%= number_to_currency @product.price %></span>
      <%= link_to "ADD TO BAG", "#1", :class => "input-member to_bag", :style => "margin-top: -4px;" + ("display: none;" if @product.has_size? && @product.has_color? || @product.sold_out?).to_s, :id => "to_bag_" + @product.id.to_s %>
      <%= link_to "PREORDER", "#1", :class => "input-member to_preorder", :style => "margin-top: -4px;" + ("display: none;" if @product.has_size? && @product.has_color? || !@product.sold_out?).to_s, :id => "to_preorder_" + @product.id.to_s %>
    </div>

  </div>

  <div class="cleaner"></div>
</div>
