<div class="contentFull">
  <div class="productPath">
    <%= link_to @top_category.name, {:controller => :main, :action => :index, :id => @top_category} %>
    -
    <%= link_to @event.name, {:controller => :main, :action => :event, :id => @event} %>
    - <b>End Date:</b> <%= @event.end_at %>
  </div>
  <h1 class="productName"><%= @product.name %></h1>

  <div class="content-body">

    <%= @product.description %> <br/>

    <% @product.properties.each { |property| %>
        <%= property.name %><%= " - " + property.value unless property.value.blank? %> <br/>
    <% } %>

    <% @product.images.each { |image| %>
        <%= image_tag "/pictures/sm/" +image.file_name %>
    <% } %>

    <% @product.colors.each { |color| %>
        <span style="background-color:<%= color.html_val %>;color:<%= color.html_val %>;">__</span><%= color.name %>
    <% } %>
    <br/>
    <%= select_tag "size", options_from_collection_for_select(@product.sizes, "id", "name") %>
    <br/>
    <%= number_to_currency @product.price %>
    <%= link_to "ADD TO BAG", "#1", :id => "product_" + @product.id.to_s, :class => "input-member add_btn" %>

    <div class="cleaner"></div>
  </div>
</div>
