<div class="contentFull">
  <div class="productPath">
    <%= link_to @event.name, {:controller => :main, :action => :event, :id => @event} %>
    <span class="eventEnd">EVENT ENDS <%= @event.end_at %></span>
  </div>

  <div class="altWrapper">
    <ul>
      <% @product.images.each { |image| %>
          <li class="altImgWrapper">
            <div class="tableCell">
              <%= image_tag "/pictures/s/" +image.file_name, :alt => "" %>
            </div>
          </li>
      <% } %>
    </ul>
  </div>

  <div class="mainImgWrapper">
    <%= image_tag "/pictures/m/" + @product.images.first.file_name %>
  </div>

  <div class="dataWrapper">
    <h1 class="productName" id="product_<%= @product.id %>"><%= @product.name %></h1>

    <div class="productDesc">
      <%= @product.description %>
    </div>

    <div class="propertiesWrapper">
      <% @product.properties.each { |property| %>
          <div class="propertyRow">
            <span class="propertyName"><%= property.name %></span><%= ": " + property.value unless property.value.blank? %>
          </div>
      <% } %>
    </div>

    <div class="propertiesWrapper">
      <span class="propertyName">Size: </span>
      <select id="product_size">
        <option value="-1">All sizes</option>
        <% @product.sizes.each { |size| %>
            <option value="<%= size.id %>"<%= ' disabled="disabled"' unless @product.available_sizes.include?(size) %>><%= size.name %></option>
        <% } %>
      </select>
      <span class="propertyName" style="color: #ffffff;">__</span>
      <span class="propertyName">Width: </span>
      <%= select_tag "product_width", options_for_select(["placeholder"]) %>
    </div>

    <div class="propertiesWrapper">
      <span class="propertyName">Color: </span>
      <span class="propertyName" style="color: #000000; text-transform: capitalize;" id="color_name"><%= @product.color.name %></span>

      <div>
        <% @product.colors.each { |color| %>
            <div style="background-color:<%= color.html_val %>;color:<%= color.html_val %>;" class="propertyColor<%= " selected" if @product.color == color %>" id="product_color_<%= color.id %>" colorName="<%= color.name %>">__</div>
        <% } %>
      </div>
    </div>

    <div class="propertiesWrapper">
      <span class="oldPrice"><%= number_to_currency @product.old_price %></span>
      <span class="price"><%= number_to_currency @product.price %></span>
      <%= link_to "ADD TO BAG", "#1", :class => "input-member to_bag", :style => "margin-top: -4px; display: none;", :id => "to_bag_" + @product.id.to_s %>
      <%= link_to "PREORDER", "#1", :class => "input-member to_preorder", :style => "margin-top: -4px; display: none;", :id => "to_preorder_" + @product.id.to_s %>
    </div>

  </div>

  <div class="cleaner"></div>
</div>
