<h2><%= @page_title %></h2>

<table class="table table-condensed">
  <thead>
  <tr>
    <th>Email</th>
    <th>Created at</th>
    <th>Email Opened at</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @subscribers.each { |subscriber| %>
      <tr>
        <td><%= subscriber.mail %></td>
        <td><%= event_date(subscriber.created_at) %></td>
        <td><%= (event_date(subscriber.updated_at) if subscriber.opened) || "no data" %></td>
        <td><%= link_to "X", {:controller => :subscribe, :action => :delete, :id => subscriber}, {:confirm => "Are you sure?", :method => :post, :class => "btn btn-mini btn-danger", :title => "delete"} %></td>
      </tr>
  <% } %>
  </tbody>
</table>