<div class="checkoutHeader">
  Billing Address
</div>
<div class="checkoutContent">
  <div class="column">
    <h1>
      Choose a billing address:
    </h1>
    <% @current_user.billing_addresses.all.each { |billing_address| %>
        <div class="shippingAddressWrapper">
          <%= link_to("BILL TO >>", {:controller => :checkout, :action => :order, :id => billing_address}, :class => "input-newmember") %>
          <div class="addressContent">
            <b><%= billing_address.full_name %></b>
            <br/>
            <%= billing_address.address_line_1 %>
            <br/>
            <% unless billing_address.address_line_2.blank? %>
                <%= billing_address.address_line_2 %>
                <br/>
            <% end %>
            <%= billing_address.address_line_3 %>
            <br/>
            <%= billing_address.country.country %>
            <br/>
            <%= billing_address.phone %>
            <br/>
            <%= link_to("Edit", :controller => :checkout, :action => :edit_billing_address, :id => billing_address) %>
          </div>
          <div class="cleaner"></div>
        </div>
    <% } %>
  </div>

  <div class="column">
    <h1>
      Or enter a new billing address
    </h1>

    <div class="content-body" style="float: left;">
      <%= form_for @billing_address, :as => :billing_address, :url => {:controller => :checkout, :action => :bill_to}, :method => :post, :html => {:class => "form-horizontal"} do |address| %>
          <%= render :partial => "checkout/address_fields", :locals => {:address => address} %>
          <div class="cleaner"></div>
      <% end %>
    </div>
    <div class="cleaner"></div>
  </div>
  <div class="cleaner"></div>
</div>
