<div class="checkoutHeader">
  Change Quantities
</div>
<div class="checkoutContent">
  <h1>Items in your order:</h1>
  <table style="float: left; margin-left: 100px;">
    <tbody>
    <% @cart_order.products.uniq.each { |product| %>
        <tr style="vertical-align: top;">
          <td class="cartImage">
            <%= image_tag("/pictures/s/" + product.images.first.file_name, :alt => product.name, :title => product.name) %>
          </td>
          <td style="vertical-align: middle;">
            <b><%= product.name %><%= ", " + product.color.name if product.has_color? %></b>
            <% if product.has_size? %>
                <br/>
                Size: <%= product.size.name %>
            <% end %>
            <br/>
            <b style="color: #B61D22;"><%= number_to_currency(product.price) %></b> - Quantity: 1
            <br/>
            Estimated delivery date: <%= l(Date.today + 5.days, :format => :long) %>
          </td>
        </tr>
    <% } %>
    </tbody>
  </table>
  <div class="cleaner"></div>
</div>