<div class="checkoutHeader">
  Payment Method
</div>
<div class="checkoutContent">

  <div class="column">
    <h1>
      Choose a payment method:
    </h1>
    <% @current_user.credit_cards.all.each { |credit_card| %>
        <div class="shippingAddressWrapper">
          <%= link_to("PAY WITH >>", {:controller => :checkout, :action => :bill_to, :id => credit_card}, :class => "input-newmember") %>
          <div class="addressContent">
            <b><%= credit_card.card_type %></b>
            <br/>
            <%= credit_card.card_number %>
            <br/>
            <%= credit_card.cardholder_name %>
            <br/>
            <%= credit_card.expiration_month %>/<%= credit_card.expiration_year %>
            <br/>
            <%= link_to("Edit", :controller => :checkout, :action => :edit_card, :id => credit_card) %>
          </div>
          <div class="cleaner"></div>
        </div>
    <% } %>
  </div>

  <div class="column">
    <h1>
      Or enter a new credit card information:
    </h1>

    <div class="content-body" style="float: left;">
      <%= form_for :credit_card, :as => @credit_card, :url => {}, :method => :post, :html => {:class => "form-horizontal"} do |credit_card| %>
          <%= render :partial => "checkout/credit_card_fields", :locals => {:credit_card => credit_card} %>
          <div class="cleaner"></div>
      <% end %>
    </div>

  </div>
  <div class="cleaner"></div>
</div>