<div class="checkoutHeader">
  Shipping Address
</div>
<div class="checkoutContent">
  <div class="column">
    <h1>
      Choose a shipping address:
    </h1>
    <% @current_user.shipping_addresses.each { |shipping_address| %>
        <div class="shippingAddressWrapper">
          <%= link_to("SHIP TO >>", {:controller => :checkout, :action => :payment_method, :id => shipping_address}, :class => "input-newmember", :method => :post) %>
          <div class="addressContent">
            <b><%= shipping_address.full_name %></b>
            <br/>
            <%= shipping_address.address_line_1 %>
            <br/>
            <% unless shipping_address.address_line_2.blank? %>
                <%= shipping_address.address_line_2 %>
                <br/>
            <% end %>
            <%= shipping_address.address_line_3 %>
            <br/>
            <%= shipping_address.country.country %>
            <br/>
            <%= shipping_address.phone %>
            <br/>
            <%= link_to("Edit", :controller => :checkout, :action => :edit_address, :id => shipping_address) %>
          </div>
          <div class="cleaner"></div>
        </div>
    <% } %>

  </div>
  <div class="column">
    <h1>
      Or enter a new shipping address
    </h1>

    <div class="content-body" style="float: left;">
      <%= form_for @shipping_address, :as => :shipping_address, :url => {:controller => :checkout, :action => :ship_to}, :method => :post, :html => {:class => "form-horizontal"} do |shipping_address| %>
          <%= render :partial => "checkout/shipping address_fields", :locals => {:shipping_address => shipping_address} %>
          <%= shipping_address.submit("Ship To >>", :class => "input-member", :id => "save_btn") %>
          <div class="cleaner"></div>
      <% end %>
    </div>
    <div class="cleaner"></div>
  </div>
  <div class="cleaner"></div>
</div>
