<% if @current_user && @current_user.role == "admin" %>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "VenteClub", {:controller => :admin, :action => :dashboard}, :class => "brand" %>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="<%= "active" if request[:action] == "dashboard" %>">
                <%= link_to "Dashboard", :controller => :admin, :action => :dashboard %>
              </li>
              <li class="dropdown<%= " active" if request[:controller] == "products" %>">
                <a href="#1" class="dropdown-toggle" data-toggle="dropdown">
                  Products
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="<%= "active" if request[:controller] == "products" && params[:state] == "upcoming" %>">
                    <%= link_to "Upcoming", :controller => :products, :action => :list, :state => "upcoming" %>
                  </li>
                  <li class="<%= "active" if request[:controller] == "products" && params[:state] == "current" %>">
                    <%= link_to "Current", :controller => :products, :action => :list, :state => "current" %>
                  </li>
                  <li class="<%= "active" if request[:controller] == "products" && params[:state] == "past" %>">
                    <%= link_to "Past", :controller => :products, :action => :list, :state => "past" %>
                  </li>
                </ul>
              </li>
              <li class="dropdown<%= " active" if request[:controller] == "events" %>">
                <a href="#1" class="dropdown-toggle" data-toggle="dropdown">
                  Events
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="<%= "active" if request[:controller] == "events" && params[:state] == "upcoming" %>">
                    <%= link_to "Upcoming", :controller => :events, :action => :list, :state => "upcoming" %>
                  </li>
                  <li class="<%= "active" if request[:controller] == "events" && params[:state] == "current" %>">
                    <%= link_to "Current", :controller => :events, :action => :list, :state => "current" %>
                  </li>
                  <li class="<%= "active" if request[:controller] == "events" && params[:state] == "past" %>">
                    <%= link_to "Past", :controller => :events, :action => :list, :state => "past" %>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li class="<%= "active" if request[:controller] == "subscribe" %>">
                <%= link_to "Subscribers", :controller => :subscribe, :action => :list %>
              </li>
              <li class="dropdown">
                <a href="#1" class="dropdown-toggle" data-toggle="dropdown">
                  Settings
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="<%= "active" if request[:controller] == "top_categories" %>">
                    <%= link_to "Top categories", :controller => :top_categories, :action => :list %>
                  </li>
                  <li class="divider"></li>
                  <li class="<%= "active" if request[:controller] == "colors" %>">
                    <%= link_to "Colors", :controller => :colors, :action => :list %>
                  </li>
                  <li class="<%= "active" if request[:controller] == "sizes" %>">
                    <%= link_to "Sizes", :controller => :sizes, :action => :list %>
                  </li>
                  <li class="divider"></li>
                  <li class="<%= "active" if request[:controller] == "product_types" %>">
                    <%= link_to "Product types", {:controller => :product_types, :action => :list} %>
                  </li>
                  <li class="<%= "active" if request[:controller] == "worldwide_tariffs" %>">
                    <%= link_to "Worldwide tariffs", :controller => :worldwide_tariffs, :action => :list %>
                  </li>
                  <li class="divider"></li>
                  <li class="<%= "active" if request[:controller] == "admin" && request[:action] == "list" %>">
                    <%= link_to "Admins", {:controller => :admin, :action => :list} %>
                  </li>
                </ul>
              </li>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#1">
                  <%= @current_user.mail %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="<%= "active" if request[:action] == "account" %>">
                    <%= link_to "My account", {:controller => :admin, :action => :account} %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Logout", {:controller => :login, :action => :log_out} %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
<% end %>