<div class="contentFull">
  <p class="content-title">Total cost calculator</p>

  <p class="content-text-style">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel nunc libero. Nunc sit
    amet dapibus nisl. Nullam pellentesque porttitor turpis eu semper. Curabitur quis nisl diam, at tristique augue.
    Suspendisse consectetur cursus augue, at luctus est dignissim et. Proin tristique, diam vitae interdum ornare, dui
    elit elementum velit, eu posuere tellus mauris nec nisl. Proin a nulla turpis. Nulla facilisi. Sed sed nibh eget
    velit vestibulum dapibus. Ut nec odio eros. Vivamus diam odio, aliquet a suscipit non, eleifend nec tellus. Proin
    lorem neque, facilisis eu imperdiet ac, fermentum ut lacus. Sed fermentum arcu in ante eleifend aliquam.
  </p>

  <div class="content-body">
    <%= form_tag "#1", {:id => "data_form"} do %>
        <div class="dataRow">
          <%= label_tag(:destination_id) do %>
              <%= image_tag "img/prod_dest.png" %>
              <span class="text">SELECT A DESTINATION:</span>
          <% end %>
          <%= select_tag(:destination_id, options_for_select(WorldwideTariff.all.collect { |wwt| [wwt.country, wwt.id] }), {:required => true, :style => "float:none;"}) %>
        </div>
        <div class="dataRow">
          <%= label_tag(:product_type_id) do %>
              <%= image_tag "img/prod_type.png" %>
              <span class="text">SELECT PRODUCT TYPE:</span>
          <% end %>
          <%= select_tag(:product_type_id, options_for_select(ProductType.all.collect { |pt| [pt.name, pt.id] }), {:required => true, :style => "float:none;"}) %>
        </div>
        <div class="dataRow">
          <%= label_tag(:product_value) do %>
              <%= image_tag "img/prod_val.png" %>
              <span class="text">ENTER VALUE OF ITEM:</span>
          <% end %>
          <%= text_field_tag(:product_value, "0.00", :required => true) %>
        </div>
    <% end %>

    <div class="cleaner" style="height: 20px;"></div>

    <div class="productTypeWrapper"></div>

    <a name="results"></a>

    <div id="results_wrapper" style="display: none;">
      <h2>ESTIMATED ALL INCLUSIVE COST TO <span id="e_country"></span> FOR <span id="e_name"></span></h2>

      <table class="shippingResults">
        <tbody>
        <tr>
          <th>DESCRIPTION</th>
          <th class="currency">USD</th>
        </tr>
        <tr>
          <td>Product Value</td>
          <td class="currency"><span id="e_value">0.00</span></td>
        </tr>
        <tr>
          <td>Shipping Cost including insurance and FSC</td>
          <td class="currency"><span id="e_shipping_cost">0.00</span></td>
        </tr>
        <tr>
          <td>Customs Duty</td>
          <td class="currency"><span id="e_customs_duty">0.00</span></td>
        </tr>
        <tr>
          <td>VAT (TVA)</td>
          <td class="currency"><span id="e_vat">0.00</span></td>
        </tr>
        <tr>
          <th>TOTAL COST</th>
          <th class="currency"><span id="e_total">0.00</span></th>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>