<% @top_categories = TopCategory.all %>
<%= f.error_messages(:class => "alert alert-block alert-error", :header_tag => "h4", :message => nil) %>
<fieldset>
  <legend></legend>
  <div class="control-group">
    <%= f.label(:top_category_id, "Top category:", :class => "control-label") %>
    <div class="controls">
      <%= f.select(:top_category_id, @top_categories.collect { |top_category| [top_category.name, top_category.id] }, {}, {:required => true, :class => "input-xlarge"}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:name, "Name:", :class => "control-label") %>
    <div class="controls">
      <%= f.text_field(:name, :required => true, :class => "input-xlarge") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:description, "Description:", :class => "control-label") %>
    <div class="controls">
      <%= f.text_area(:description, :required => true, :class => "input-xlarge", :rows => 3) %>
    </div>
  </div>

  <%= f.fields_for :big_image do |image| %>
        <div class="control-group">
          <%= image.label(:file_name, "Big image:", :class => "control-label") %>
          <div class="controls" style="min-height: 28px;">
            <%= image.hidden_field(:file_name, :required => true) %>
            <% if image.object.file_name.nil? %>
                <div class="admImage" id="admImage_big"></div>
            <% elsif image.object.id %>
                <div class="admImage" id="admImage_big">
                  <%= image_tag "/pictures/e_b/" + image.object.file_name, :alt => "" %>
                </div>
            <% else %>
                <div class="admImage" id="admImage_big">
                  <%= image_tag "/tmp/e_b/" + image.object.file_name, :alt => "" %>
                </div>
            <% end %>
            <div id="file-uploader_big"></div>
            <div class="progress" style="width: 280px;display: none;" id="progress_big">
              <div class="bar" id="bar_big"></div>
            </div>
            <div class="btn btn-success" id="browse_big">Browse for a new big image - 972x507</div>
          </div>
        </div>
    <% end %>

  <%= f.fields_for :small_image do |image| %>
      <div class="control-group">
        <%= image.label(:file_name, "Small image:", :class => "control-label") %>
        <div class="controls" style="min-height: 28px;">
          <%= image.hidden_field(:file_name, :required => true) %>
          <% if image.object.file_name.nil? %>
              <div class="admImage" id="admImage_small"></div>
          <% elsif image.object.id %>
              <div class="admImage" id="admImage_small">
                <%= image_tag "/pictures/e/" + image.object.file_name, :alt => "" %>
              </div>
          <% else %>
              <div class="admImage" id="admImage_small">
                <%= image_tag "/tmp/e/" + image.object.file_name, :alt => "" %>
              </div>
          <% end %>
          <div id="file-uploader_small"></div>
          <div class="progress" style="width: 280px;display: none;" id="progress_small">
            <div class="bar" id="bar_small"></div>
          </div>
          <div class="btn btn-success" id="browse_small">Browse for a new small image - 235x257</div>
        </div>
      </div>
  <% end %>

  <div class="control-group">
    <%= f.label(:start_at, "Start at:", :class => "control-label") %>
    <div class="controls">
      <%= f.text_field(:start_at, :required => true, :class => "input-xlarge", :value => l(@event.start_at.to_time, :format => :datetime)) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:end_at, "End at:", :class => "control-label") %>
    <div class="controls">
      <%= f.text_field(:end_at, :required => true, :class => "input-xlarge", :value => l(@event.end_at.to_time, :format => :datetime)) %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit("Save", :class => "btn btn-primary") %>
    <%= button_tag("Cancel", :type => "button", :class => "btn", :onclick => "window.history.back()") %>
  </div>
</fieldset>
