<h2><%= @page_title %></h2>

<table class="table table-condensed">
  <thead>
  <tr>
    <th>Name</th>
    <th>Start at</th>
    <th>End at</th>
    <th>Products</th>
  </tr>
  </thead>
  <tbody>
  <% @top_categories.each { |top_category| %>
      <tr style="background-color: #F5F5F5;">
        <th colspan="3"><%= link_to top_category.name, :controller => :top_categories, :action => :edit, :id => top_category %></th>
        <th style="font-weight: normal;">

          <div class="btn-group pull-right">
            <%= link_to({:controller => :events, :action => :new, :id => top_category}, :class => "btn btn-success") do %>
                <i class="icon-plus-sign icon-white"></i> New Event
            <% end %>
            <a href="#1" data-toggle="dropdown" class="btn btn-success dropdown-toggle"><span class="caret"></span></a>
            <ul class="dropdown-menu pull-right">
              <li>
                <%= link_to "From MyHabit", :controller => :events, :action => :from_myhabit, :id => top_category %>
              </li>
            </ul>
          </div>
        </th>
      </tr>
      <% top_category.events.send(params[:state].to_s).each { |event| %>
          <tr>
            <td><%= link_to event.name, :controller => :events, :action => :edit, :id => event %></td>
            <td><%= l event.start_at.to_time, :format => :datetime %></td>
            <td><%= l event.end_at.to_time, :format => :datetime %></td>
            <td><%= event.products.count %></td>
          </tr>
      <% } %>
  <% } %>
  </tbody>
</table>