<p class="member-access-title">MEMBER ACCESS</p>
<%= form_tag(:controller => :login, :action => :log_in) do %>
    <%= text_field_tag "mail", "", :required => true, :class => "input-text", :type => "email" %>
    <%= password_field_tag "pass", "", :required => true, :class => "input-text" %>
    <%= submit_tag "SIGN-IN", :class => "input-member" %>
<% end %>
<p class="member-access-title">NOT A MEMBER?</p>
<%= link_to "REGISTER", {:controller => :login, :action => :registration}, :class => "input-newmember" %>
<p class="member-access-title">FORGOTTEN PASSWORD?</p>
<%= link_to "REMINDER", {:controller => :login, :action => :forgot_pass}, :class => "input-newmember" %>