<%= form_for :user do |f| %>
    <%= f.error_messages(:class => "alert alert-block alert-error", :header_message => nil, :message => nil) %>
    <%= f.hidden_field :mail %>
    <p class="member-access-title">New Password</p>
    <%= f.password_field(:pass, :required => true, :class => "input-text") %>
    <p class="member-access-title">Confirmation</p>
    <%= f.password_field(:pass_confirmation, :required => true, :class => "input-text") %>
    <%= f.submit("Save", :class => "input-member") %>
<% end %>
<div class="cleaner" style="height: 20px;"></div>
<%= link_to "CANCEL", :root, :class => "input-newmember" %>