<h2><%= @page_title %></h2>

<%= form_tag({}, :class => "form-horizontal", :id => "fmh") do %>
    <legend></legend>
    <div class="control-group">
      <%= label_tag(:event_id, "Event:", :class => "control-label") %>
      <div class="controls">
        <%= select_tag(:event_id, options_for_select(@event.top_category.events.collect { |event| [event.name, event.id] }, @event.id), {:required => true, :class => "input-xlarge"}) %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag(:url, "URL:", :class => "control-label") %>
      <div class="controls">
        <%= text_field_tag(:url, "", :required => true, :class => "input-xlarge") %>
      </div>
    </div>
    <div class="form-actions">
      <%= submit_tag("Save", :class => "btn btn-primary", :id => "fmh_submit") %>
      <%= button_tag("Cancel", :type => "button", :class => "btn", :onclick => "window.history.back()") %>
    </div>
<% end %>


