<div class="left-sidebar">
  <div class="account">
    <p class="title">ACCOUNT</p>
    <ul>
      <!--<li><%= link_to "MY SUITE", :controller => :my, :action => :suite %></li>-->
      <li><%= link_to "MY ORDERS", :controller => :my, :action => :orders %></li>
      <li><%= link_to "MY ACCOUNT", :controller => :my, :action => :account %></li>
      <li><%= link_to "MY SHIPPING ADDRESSES", :controller => :my, :action => :shipping_addresses %></li>
      <li><%= link_to "MY BILLING ADDRESSES", :controller => :my, :action => :billing_addresses %></li>
      <li><%= link_to "MY CREDIT CARDS", :controller => :my, :action => :credit_cards %></li>
      <li><%= link_to "MY EMAIL SETTINGS", :controller => :my, :action => :email_settings %></li>
      <li><%= link_to "MY SHIPMENT HISTORY", :controller => :my, :action => :shipment_history %></li>
    </ul>
  </div>

  <!--<div class="shop">-->
  <!--<p class="title">SHOP</p>-->
  <!--<a href="#"><img src="images/shop-venteclub.jpg" alt="venteclub"></a>-->
  <!--<a href="#"><img src="images/shop-women.jpg" alt="venteclub"></a>-->
  <!--<a href="#"><img src="images/shop-men.jpg" alt="venteclub"></a>-->
  <!--<a href="#"><img src="images/shop-home.jpg" alt="venteclub"></a>-->
  <!--</div>-->
  <!--<div class="follow">-->
  <!--<p class="title">FOLLOW-->
  <!--<a href=""><img src="images/follow-twitter.png" alt="twitter"></a>-->
  <!--</p>-->

  <!--<p class="follow-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel nunc libero.-->
  <!--#Designer </p>-->
  <!--<span>21 minutes ago</span>-->

  <!--<p class="follow-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel nunc libero.-->
  <!--http://t.co/ue9823y</p>-->
  <!--<span>48 minutes ago</span>-->

  <!--<p class="follow-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel nunc libero</p>-->
  <!--<span>21 minutes ago</span>-->
  <!--</div>-->

</div>