<div class="content">
  <p class="content-title">My Addresses</p>

  <div class="content-body">

    <%= nested_form_for @user, :as => :user, :url => {:controller => :my, :action => :addresses}, :method => :post, :html => {:class => "form-horizontal", :id => "addr_form"} do |user| %>
        <%= user.error_messages(:class => "alert alert-block alert-error", :header_message => nil, :message => nil) %>

        <%= user.fields_for :shipping_addresses do |shipping_address| %>
            <div class="dataRow">
              <%= shipping_address.label(:first_name, "First name:") %>
              <%= shipping_address.text_field(:first_name, :required => true) %>
            </div>
            <div class="dataRow">
              <%= shipping_address.label(:last_name, "Last name:") %>
              <%= shipping_address.text_field(:last_name, :required => true) %>
            </div>
            <div class="dataRow">
              <%= shipping_address.label(:address_line_1, "Address line 1:") %>
              <%= shipping_address.text_field(:address_line_1, :required => true) %>
            </div>
            <div class="dataRow">
              <%= shipping_address.label(:address_line_2, "Address line 2:") %>
              <%= shipping_address.text_field(:address_line_2) %>
            </div>
            <div class="dataRow">
              <%= shipping_address.label(:city, "City:") %>
              <%= shipping_address.text_field(:city, :required => true) %>
            </div>
            <div class="dataRow">
              <%= shipping_address.label(:state, "State:") %>
              <%= shipping_address.text_field(:state, :required => true) %>
            </div>
            <div class="dataRow">
              <%= shipping_address.label(:postal_code, "Postal code:") %>
              <%= shipping_address.text_field(:postal_code, :required => true) %>
            </div>
            <div class="dataRow">
              <%= shipping_address.label(:country_id, "Country:") %>
              <%= shipping_address.select(:country_id, options_from_collection_for_select(@countries, :id, :country, (shipping_address.object.country_id if shipping_address.object.country_id)), :required => true) %>
            </div>
            <div class="dataRow">
              <%= shipping_address.label(:phone, "Phone:") %>
              <%= shipping_address.text_field(:phone, :required => true) %>
            </div>
            <%= shipping_address.link_to_remove("Delete", :class => "input-member delete") %>
            <div class="cleaner" style="height: 20px;"></div>
        <% end %>
        <%= user.link_to_add("New Address", :shipping_addresses, :class => "input-newmember") %>
        <%= user.submit("Save", :class => "input-member", :id => "save_btn") %>
    <% end %>

    <div class="cleaner"></div>
  </div>
</div>