<div class="footer">
  <p class="footer-links">
    <%= link_to (image_tag "brands/tiffany.jpg"), "#1" %>
    <%= link_to (image_tag "brands/Ralph-Lauren.jpg"), "#1" %>
    <%= link_to (image_tag "brands/dolce-gabbana.jpg"), "#1" %>
    <%= link_to (image_tag "brands/louis-vuitton.jpg"), "#1" %>
    <%= link_to (image_tag "brands/giorgio-armani.jpg"), "#1" %>
  </p>

  <div class="clear"></div>
  <p class="footer-copyright">© 2012 VENTECLUB</p>
</div>
