<div class="lower-links">
  <div class="lower-links-title">
    <p>MORE VENTECLUB LINKS</p>
  </div>
  <div class="lower-venteclub-links">
    <div class="vc-link">
    </div>
    <div class="vc-link">
      <ul>
        <li><%= link_to "Account", :controller => :my, :action => :account %></li>
        <li><%= link_to "Addresses", :controller => :my, :action => :shipping_addresses %></li>
        <li><%= link_to "Email Settings", :controller => :my, :action => :email_settings %></li>
        <li><%= link_to "Shipment History", :controller => :my, :action => :shipment_history %></li>
      </ul>
    </div>
    <div class="vc-link">
      <ul>
        <li><a href="#">some</a></li>
        <li><a href="#">helpful</a></li>
        <li><a href="#">links</a></li>
      </ul>
    </div>
    <div class="vc-link">
      <ul>
        <li><a href="#">some</a></li>
        <li><a href="#">helpful</a></li>
        <li><a href="#">links</a></li>
      </ul>
    </div>
    <div class="vc-link">
      <ul>
        <li><%= link_to "TERMS OF SERVICE", {:controller => :static, :action => :terms_of_service}, {:target => "_blank"} %></li>
        <li><%= link_to "PRIVACY NOTICE", {:controller => :static, :action => :privacy_notice}, {:target => "_blank"} %></li>
        <li><%= link_to "SECURITY NOTICE", {:controller => :static, :action => :security_notice}, {:target => "_blank"} %></li>
        <li><%= link_to "TERMS OF USE", {:controller => :static, :action => :terms_of_use}, {:target => "_blank"} %></li>
        <li><%= link_to "RETURN AND REFUND", {:controller => :static, :action => :return_and_refund_policy}, {:target => "_blank"} %></li>
      </ul>
    </div>
    <div class="vc-link">
    </div>
    <div class="cleaner"></div>
  </div>
</div>