<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>VenteClub</title>
  <%= stylesheet_link_tag "main/main", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <%= link_to (image_tag "img/logo.png"), :root %>
</div>
<div class="wrapper">
  <div class="main-login" style="<%= @action_style if @action_style %>">
    <div class="member-access">
      <%= render(:partial => "main/flash_messages") %>
      <%= yield %>
    </div>
  </div>
</div>
<%= render :partial => "layouts/footer" %>
<%= javascript_include_tag "main/main" %>
<script>
    jQuery(document).ready(function () {
        jQuery("#subscribe").validationEngine({
            ajaxFormValidation:true,
            ajaxFormValidationMethod:'post'
        });
    });
</script>
</body>
</html>