<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>VenteClub - HomePage</title>
  <%= stylesheet_link_tag "main/main", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <div class="header-link">
    <p class="welcome-msg">WELCOME <%= @current_user.full_name %>
      - <%= link_to "SIGN OUT", :controller => :login, :action => :log_out %></p>
  </div>
  <%= link_to (image_tag "img/logo.png"), :root %>
  <div class="cartWrapper">
    <%= render :partial => "layouts/shopping_cart" %>
  </div>
</div>
<div class="nav">
  <div class="upper-nav">
    <ul>
      <li><%= link_to "MY VENTECLUB", :controller => :my, :action => :account %></li>
      <li><%= link_to "SHIPPING CALCULATOR", :controller => :shipping_calculator, :action => :index %></li>
      <li><%= link_to "HOW IT WORKS", :controller => :static, :action => :how_it_works %></li>
    </ul>
  </div>
  <div class="clear"></div>
  <%= render :partial => "main/top_nav" %>
</div>
<div class="main-wrapper">
  <%= render(:partial => "main/flash_messages") %>
  <%= render :partial => "my/left_sidebar" if request[:controller] == "my" %>
  <%= yield %>

  <div class="space"></div>
  <div class="lower-sidebar">
    <%= link_to((image_tag "img/lower-sidebar.png"), {:controller => :shipping_calculator, :action => :index}) %>
  </div>

  <div class="lower-content">
    <div class="lower-logo-vc">
      <%= image_tag "img/vc.png" %>
      <p>Sign up for VenteClub email sale alerts and be the first to know about them</p>
    </div>

    <div class="lower-logo-facebook">
      <%= image_tag "img/facebook.png" %>
      <p>VenteClub on Facebook</p>
      <%= link_to image_tag("img/facebook-like.jpg"), "#1" %>
    </div>
    <div class="lower-logo-twitter">
      <%= image_tag "img/twitter.png" %>
      <p>VenteClub on Twitter</p>
      <%= link_to image_tag("img/follow-twitter.png"), "#1" %>
    </div>
  </div>

  <div class="clear"></div>
  <div class="space"></div>
  <%= render :partial => "layouts/lower_links" %>
</div>
<%= render :partial => "layouts/footer" %>
<%= javascript_include_tag "main/main" %>
<%= javascript_include_tag("main/" + request[:controller] + "/" + request[:action]) if @javascript %>
</body>
</html>
